.review-con {
    display: flex;
    
}
.screen-con {
    margin-left: 30px;
    padding-top: 120px;
    img {
        width: 100%;
    }
    h2 {
        margin-top: 20px;
    }
}
.fa {
    
    margin-top: 20px;
    font-size: 30px;
    cursor: pointer;
    user-select: none;
    &:hover {
        transform: scale(1.1);
        color: darkblue;
    }
    
}

.fa-thumbs-down {
    color: red;
    
}
.star-con {
    margin-left: 50px;
}
.checked {
  
    color: orange;
  }
  @media screen and (min-width: $tablet-size) {
      .fa {
          font-size: 50px;
      }
  }