
.logo-con {
    img {
        margin: 20px;
    width: 30%;
    }

}
form {
    margin-top: 40px;
    display: flex;
    flex-direction: column;
    label {
        margin: 20px;
        font-size: 20px;
        font-weight: bold;
    }
    input {
        width: 300px;
        margin-left: 20px;
        background-color: black;
        border: 2px solid white;
        padding: 15px;
        border-radius: 15px;
        opacity: 0.8;
    }
    .signin {
        margin-top: 40px;
        width: 70px;
        margin-left: 20px;
        border: 2px solid #fff;
        //background-color: black;
        color: white;
        padding: 15px;
        border-radius: 15px;
        opacity: 0.8;
        font-size: 18px;
        font-weight: bold;
        &:hover {
            background-color: #662d91;
        }
    }

}
.text-signup {
    margin-left: 20px;
    margin-top: 50px;
}
@media screen and (min-width: $tablet-size) {
    .logo-con {
        img {
            width: 10%;
        }
    }
    form {
        label {
            font-size: 18px;
        }
        input {
            padding: 12px;
        }
        .signin {
            padding: 10px;
            font-size: 16px;
        }
    }
    
    
}